* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;

}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.btn{
    padding: 8px 16px;
    font-size: 18px;
    font-family: monospace;
    cursor: pointer;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    outline: none;
    position: relative;
    z-index: 9999;
}

